[Desktop Entry]
X-Desktop-File-Install-Version=0.11
Name=Qmmp
Name[pt]=Qmmp
Name[pt_BR]=Qmmp
Name[sr]=Кумп
Name[sr@Ijekavian]=Кумп
Comment=Qt4-based Multimedia Player
Comment[cs]=Přehrávač hudby založený na Qt
Comment[de]=Qt4-basierter Audio-Player
Comment[fr]=Lecteur multimédia en Qt4
Comment[he]=נגן מולטימדיה מבוסס Qt4
Comment[pt]=Reprodutor multimédia em Qt4
Comment[pt_BR]=Reprodutor multimídia em Qt4
Comment[ru]=Медиа-проигрыватель на базе Qt4
Comment[sr]=Кут4 медија плејер
Comment[sr@Ijekavian]=Кут4 медија плејер
Comment[sr@ijekavianlatin]=Qt4 medija plejer
Comment[sr@latin]=Qt4 medija plejer
Comment[tr]=Qt4 tabanlı Çokluortam Oynatıcı
Comment[uk]=Медіа-програвач на базі Qt4
Comment[zh_CN]=基于Qt4的多媒体播放器
Comment[zh_TW]=基于Qt4的多媒體播放器
GenericName=Audio player
GenericName[cs]=Přehrávač hudby
GenericName[de]=Audio-Player
GenericName[fr]=Lecteur audio
GenericName[he]=נגן שמע
GenericName[pt]=Reprodutor áudio
GenericName[pt_BR]=Reprodutor de áudio
GenericName[ru]=Аудио-проигрыватель
GenericName[sr]=Медија плејер
GenericName[sr@Ijekavian]=Медија плејер
GenericName[sr@ijekavianlatin]=Medija plejer
GenericName[sr@latin]=Medija plejer
GenericName[tr]=Ses Oynatıcı
GenericName[uk]=Медіа-програвач
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
Keywords=player;audio;video;multimedia;
Keywords[fr]=lecteur;audio;vidéo;multimédia;
Exec=qmmp %F
Icon=qmmp
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;Qt;
MimeType=application/x-ogg;audio/mp3;audio/mpeg;audio/flac;audio/x-mp3;audio/x-mpeg;audio/x-ms-wma;audio/x-musepack;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mpegurl;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-xm;audio/x-ape;application/x-cue;x-content/audio-cdda;audio/x-ffmpeg-shorten;
X-KDE-StartupNotify=false
Actions=Play;Pause;Stop;Previous;Next;

[Desktop Action Play]
Name=Play
Name[fr]=Lecture
Name[ru]=Воспроизвести
Name[sr]=Пусти
Name[sr@Ijekavian]=Пусти
Name[sr@ijekavianlatin]=Pusti
Name[sr@latin]=Pusti
Exec=qmmp --no-start --play

[Desktop Action Pause]
Name=Pause
Name[fr]=Pause
Name[ru]=Пауза
Name[sr]=Паузирај
Name[sr@Ijekavian]=Паузирај
Name[sr@ijekavianlatin]=Pauziraj
Name[sr@latin]=Pauziraj
Exec=qmmp --no-start --pause

[Desktop Action Stop]
Name=Stop
Name[fr]=Arrêt
Name[ru]=Остановить
Name[sr]=Заустави
Name[sr@Ijekavian]=Заустави
Name[sr@ijekavianlatin]=Zaustavi
Name[sr@latin]=Zaustavi
Exec=qmmp --no-start --stop

[Desktop Action Previous]
Name=Previous
Name[fr]=Précédent
Name[ru]=Предыдущий фрагмент
Name[sr]=Претходна
Name[sr@Ijekavian]=Претходна
Name[sr@ijekavianlatin]=Prethodna
Name[sr@latin]=Prethodna
Exec=qmmp --no-start --previous

[Desktop Action Next]
Name=Next
Name[fr]=Suivant
Name[ru]=Следующий фрагмент
Name[sr]=Следећа
Name[sr@Ijekavian]=Сљедећа
Name[sr@ijekavianlatin]=Sljedeća
Name[sr@latin]=Sledeća
Exec=qmmp --no-start --next
