[Desktop Entry]
X-Desktop-File-Install-Version=0.11
Name=Enqueue in Qmmp
Name[cs]=Zařadit do fronty v Qmmp
Name[de]=Zur Qmmp-Wiedergabeliste hinzufügen
Name[fr]=Ajouter dans Qmmp
Name[he]=ספח לתור של Qmmp
Name[pt]=Colocar na fila do Qmmp
Name[pt_BR]=Colocar na fila do Qmmp
Name[ru]=Добавить в Qmmp
Name[sr]=Стави у ред пуштања у Кумп
Name[sr@Ijekavian]=Стави у ред пуштања у Кумп
Name[sr@ijekavianlatin]=Stavi u red puštanja u Kump
Name[sr@latin]=Stavi u red puštanja u Kump
Name[uk]=Додати до черги Qmmp
Name[zh_CN]=加入 Qmmp 播放列表
Name[zh_TW]=加入 Qmmp 播放清單
Comment=Add file(s) to the Qmmp playlist
Comment[cs]=Přidat soubor(y) do seznamu stop v Qmmp
Comment[de]=Datei(en) zur Qmmp-Wiedergabeliste hinzufügen
Comment[fr]=Ajouter des fichiers à la liste de lecture de Qmmp
Comment[he]=הוסף קבצים אל רשימת הניגון של Qmmp
Comment[pt]=Adicionar ficheiro(s) à lista de reprodução do Qmmp
Comment[pt_BR]=Adicionar arquivos(s) à lista de reprodução do Qmmp
Comment[ru]=Добавить файл(ы) в список Qmmp
Comment[sr]=Стави у ред у Кумп листу нумера
Comment[sr@Ijekavian]=Стави у ред у Кумп листу нумера
Comment[sr@ijekavianlatin]=Stavi u red u Qmmp listu numera
Comment[sr@latin]=Stavi u red u Qmmp listu numera
Comment[uk]=Додати файл(и) до переліку програвання Qmmp
Comment[zh_CN]=添加一个或多个文件到 Qmmp 播放列表
Comment[zh_TW]=添加一個或多個檔案到 Qmmp 播放清單
Exec=qmmp -e %F
Icon=qmmp
Categories=AudioVideo;Player;Audio;Qt;
MimeType=application/x-ogg;audio/mp3;audio/mpeg;audio/flac;audio/x-mp3;audio/x-mpeg;audio/x-ms-wma;audio/x-musepack;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mpegurl;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-xm;audio/x-ape;application/x-cue;audio/x-ffmpeg-shorten;inode/directory;
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
Terminal=false
