[Desktop Entry]
X-Desktop-File-Install-Version=0.11
Name=Qmmp
Name[pt]=Qmmp
Name[pt_BR]=Qmmp
Name[sr]=Кумп
Name[sr@Ijekavian]=Кумп
Comment=Qt5-based Multimedia Player
Comment[cs]=Přehrávač hudby založený na Qt
Comment[de]=Qt5-basierter Audio-Player
Comment[fr]=Lecteur multimédia en Qt5
Comment[he]=נגן מולטימדיה מבוסס Qt5
Comment[pt]=Reprodutor multimédia em Qt5
Comment[pt_BR]=Reprodutor multimídia em Qt5
Comment[ru]=Медиа-проигрыватель на базе Qt5
Comment[sr]=Кут5 медија плејер
Comment[sr@Ijekavian]=Кут5 медија плејер
Comment[sr@ijekavianlatin]=Qt5 medija plejer
Comment[sr@latin]=Qt5 medija plejer
Comment[tr]=Qt5 tabanlı Çokluortam Oynatıcı
Comment[uk]=Медіа-програвач на базі Qt5
Comment[zh_CN]=基于Qt5的多媒体播放器
Comment[zh_TW]=基于Qt5的多媒體播放器
GenericName=Audio player
GenericName[cs]=Přehrávač hudby
GenericName[de]=Audio-Player
GenericName[fr]=Lecteur audio
GenericName[he]=נגן שמע
GenericName[pt]=Reprodutor áudio
GenericName[pt_BR]=Reprodutor de áudio
GenericName[ru]=Аудио-проигрыватель
GenericName[sr]=Медија плејер
GenericName[sr@Ijekavian]=Медија плејер
GenericName[sr@ijekavianlatin]=Medija plejer
GenericName[sr@latin]=Medija plejer
GenericName[tr]=Ses Oynatıcı
GenericName[uk]=Медіа-програвач
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
Exec=qmmp %F
Icon=qmmp
Terminal=false
NoDisplay=true
Type=Application
Categories=AudioVideo;Player;Audio;Qt;
MimeType=inode/directory;
X-KDE-StartupNotify=false
